{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": 0,
    "semi": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "max-len": ["error", 120, 2]
  },
  "env": {
    "browser": true
  }
}
